In [1]:
import pandas as pd
pokemon_table=pd.read_csv("pokemon.csv")

In [2]:
pokemon_table

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

In [4]:
amount = pokemon_table ["id"]
amount

0        1
1        2
2        3
3        4
4        5
      ...
802    803
803    804
804    805
805    806
806    807
Name: id, Length: 807, dtype: int64

In [6]:
amount.size

807

In [45]:
# 2.

amount.size * 2             #just tried if it will work. I didn't ecpect it will be that easy :D

1614

In [46]:
# 3.


pokemon_table.columns

Index(['id', 'name', 'height', 'weight', 'color', 'shape', 'is baby', 'type 1',
       'type 2', 'hp', 'attack', 'defense', 'speed'],
      dtype='object')

In [47]:
#information about lenght isn't available - don't know how to do it better


#4. 

pokemon_table.loc[0 : 7]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
5,6,charizard,1.7,90.5,red,upright,False,Fire,Flying,78,84,78,100
6,7,squirtle,0.5,9.0,blue,upright,False,Water,NaN,44,48,65,43
7,8,wartortle,1.0,22.5,blue,upright,False,Water,NaN,59,63,80,58

In [48]:
pokemon_table.loc[8 : 15]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
8,9,blastoise,1.6,85.5,blue,upright,False,Water,NaN,79,83,100,78
9,10,caterpie,0.3,2.9,green,armor,False,Bug,NaN,45,30,35,45
10,11,metapod,0.7,9.9,green,squiggle,False,Bug,NaN,50,20,55,30
11,12,butterfree,1.1,32.0,white,bug-wings,False,Bug,Flying,60,45,50,70
12,13,weedle,0.3,3.2,brown,armor,False,Bug,Poison,40,35,30,50
13,14,kakuna,0.6,10.0,yellow,squiggle,False,Bug,Poison,45,25,50,35
14,15,beedrill,1.0,29.5,yellow,bug-wings,False,Bug,Poison,65,90,40,75
15,16,pidgey,0.3,1.8,brown,wings,False,Normal,Flying,40,45,40,56

In [49]:
pokemon_table.loc[800 : 807]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
800,801,magearna,1.0,80.5,gray,humanoid,False,Steel,Fairy,80,95,115,65
801,802,marshadow,0.7,22.2,gray,humanoid,False,Fighting,Ghost,90,125,80,125
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

In [50]:
#here are the groups of eight


pokemons = pokemon_table.set_index("id").sort_index()
pokemons

,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
id,,,,,,,,,,,,
1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...
803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

In [51]:
#5.


pokemons.loc[207]

name       gligar
height        1.1
weight       64.8
color      purple
shape       wings
is baby     False
type 1     Ground
type 2     Flying
hp             65
attack         75
defense       105
speed          85
Name: 207, dtype: object

In [52]:
pokemons.loc[320]

name       wailmer
height         2.0
weight       130.0
color         blue
shape         fish
is baby      False
type 1       Water
type 2         NaN
hp             130
attack          70
defense         35
speed           60
Name: 320, dtype: object

In [53]:
pokemons.loc[796]

name       xurkitree
height           3.8
weight         100.0
color          black
shape        upright
is baby        False
type 1      Electric
type 2           NaN
hp                83
attack            89
defense           71
speed             83
Name: 796, dtype: object

In [54]:
pokemons_names = pokemon_table.set_index("name").sort_index()
pokemons_names

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
abomasnow,460,2.2,135.5,white,upright,False,Grass,Ice,90,92,75,60
abra,63,0.9,19.5,brown,upright,False,Psychic,NaN,25,20,15,90
absol,359,1.2,47.0,white,quadruped,False,Dark,NaN,65,130,60,75
accelgor,617,0.8,25.3,red,arms,False,Bug,NaN,80,70,40,145
aegislash,681,1.7,53.0,brown,blob,False,Steel,Ghost,60,50,150,60
...,...,...,...,...,...,...,...,...,...,...,...,...
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [55]:
#6.


pokemons_names.loc[ "onix" , [ "type 1" , "speed" ]]

type 1    Rock
speed       70
Name: onix, dtype: object

In [56]:
# Woow. This is pretty cool. It took me ages, but it was worth it :D

In [59]:
#7.


pokemons_names.loc[ "i" : "j" ]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
igglybuff,174,0.3,1.0,pink,humanoid,True,Normal,Fairy,90,30,15,15
illumise,314,0.6,17.7,purple,humanoid,False,Bug,NaN,65,47,75,85
incineroar,727,1.8,83.0,red,upright,False,Fire,Dark,95,115,90,60
infernape,392,1.2,55.0,brown,upright,False,Fire,Fighting,76,104,71,108
inkay,686,0.4,3.5,blue,tentacles,False,Dark,Psychic,53,54,53,45
ivysaur,2,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60